<app-dashboard></app-dashboard>
  <ul class="collapsible" data-collapsible="expandable" materialize="collapsible">
      <li class="collection" *ngFor="let test of tests">
        <div class="collection-item collapsible-header">{{test.restaurant}}</div>
        <div class="collection-item collapsible-body expandableBody">
            <span class="badge btns"> 
             <a  (click)="removeTest(test)" class="btn-floating btn-small cyan pulse btnEdit">
               <i class="material-icons">delete</i>
             </a>
              <a  (click)="updateTest(test.testId)" class="btn-floating btn-small cyan pulse">
               <i class="material-icons">edit</i>
             </a>
          </span>
          <h2 class="center-align">{{test.restaurant}}</h2>
          <h4 class="center-align">{{test.dateAppoiment}}</h4>
          <h4 class="center-align">{{test.amountPeople}}</h4>
        </div>
      </li>
 </ul> 

   <!-- Modal Structure -->

    <div id="modal1" class="modal modal-fixed-footer" #modal1>
    <div class="modal-content">
      <h4>have you sure want remove this appointment?</h4>
        <h5>About Appoiment</h5>
        <h6>Restaurant Name: {{this.objectRemove?.restaurant}}</h6>
        <h6>Amount People: {{this.objectRemove?.amountPeople}}</h6>
        <h6>Date Appoitment: {{this.objectRemove?.dateAppoiment}}</h6>
    </div>
    <div class="modal-footer">
      <a (click)="cancelRemove()" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
      <a (click)="remmoveConfirm(this.objectRemove.testId)"class="modal-close waves-effect waves-green btn-flat">Confirm</a>
    </div>
    </div>
    <!-- Modal Structure -->