
.btns{
  height: 50px;
  
}

.btnEdit{
	 background-color:red !important;
}

.expandableBody{
	height: 120px;
	background-color: #b2dfdb;
   
}
.date{
	margin-left: -70px;
}
.amount{
	margin-left: -70px;
}

#createForm{
    margin-left: 300px;
	
}
@media only screen and (max-width : 992px) {
  #createForm {
    margin-left: 10px !important;
   
  }

}