.modal {
 
  left: 0;
 
  right: 0;
 
  background-color: #e1f5fe;
 
  padding: 0;
 
  max-height: 40%;
 
  width: 35%;
 
  will-change: top, opacity;
 
}
 
 
 
.modal .modal-footer {
 
  border-radius: 0 0 2px 2px;
 
  background-color: teal;
 
  padding: 4px 6px;
 
  height: 60px;
 
  width: 100%;
 
  text-align: right;
 
}