
.footer{
 
  background-color: teal;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .footer {
 
  background-color: teal;
  position: fixed;
  bottom: 0;
  width: 100%;
  }

}